<h1>Welcome to Health Tracker!</h1>


<% if current_user %>
<%= link_to 'Add Food', new_food_path, id: "new_food_link", class: "btn btn-primary", remote: true %>
<%= link_to 'Add Exercise', new_exercise_path, id: "new_exercise_link", class: "btn btn-primary", remote: true %>


<% else %>
<h2>Please <%= link_to 'create account', new_user_path %> or <%= link_to 'log in', new_session_path %> to get started!</h2>

<% end %>
